 /*home*/

main.apresentacao{
    display: inline-flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    align-items: center;
    gap: 25px;
    width: 530px;
}

/*imagem perfil preto e branco*/
main.imgduda{
    background-image: url(../assets/imgs/imgduda.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 183px;
    height: 183px;
    border:1px solid #848484;
    border-radius: 1%;
    display: inline-flex;
    justify-content: space-between;
    margin: 0px 10px 0px 0px;
    align-items: center;
    filter: grayscale(100%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-duration: 0.30s; /*altera a duração da transição*/
}

/*imagem perfil colorida ao passar o mouse*/
main.imgduda:hover{
    filter: none;
}

 /*título (Hello World)*/
h1.apresentacao_titulo {
    margin:0px 0px 0px 0px;
    padding:0;
    font-family: 'MS PGothic';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    font-weight: 400;
    letter-spacing:-1px;
    color:#000;
    text-align: center;
    text-transform: uppercase;

}

 /*subtítulo (I'm Duda)*/
h2.apresentacao_subtitulo {
    margin:0 0 0px 0;
    padding:0;
    font-family: 'MS PGothic';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    font-weight: 400;
    letter-spacing:2.3px;
    color:var(--preto);
    text-align: center;
    text-transform: uppercase;
}

/*frase (Coraline)*/
p.frase{
    margin:10px 0 15px 0;
    padding: 0px;
    font-family: 'MS PGothic';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color:#000;
}
 
 /*parágrafo (Sou uma profissional...)*/
p.apresentacao_texto{
     margin:0 0 10px 0;
     padding:0;
     font-family: 'MS PGothic';
     font-style: normal;
     font-weight: 300;
     font-size: 14px;
     letter-spacing:1.5px;
     text-align: justify;
     color:#000;
 }

div.icons{
    margin: 45px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a.email {
    width: 25px;
    height: 25px;
    background-image: url(./assets/icons/email.svg);
    transition-duration: 0.20s; /*altera a duração da transição na entrada e saída do mouse*/
}

a.email:hover{
    filter: invert(70%);
    transform: scale(1.05); /*altera o tamanho da imagem quando o mouse passa por cima*/
}

a.figma {
    width: 25px;
    height: 25px;
    background-image: url(./assets/icons/figma.svg);
    transition-duration: 0.20s; /*altera a duração da transição na entrada e saída do mouse*/

}

a.figma:hover{
    filter: invert(70%);
    transform: scale(1.05); /*altera o tamanho da imagem quando o mouse passa por cima*/
}

a.github {
    width: 25px;
    height: 25px;
    background-image: url(./assets/icons/github.svg);
    transition-duration: 0.20s; /*altera a duração da transição na entrada e saída do mouse*/
}

a.github:hover{
    filter: invert(70%);
    transform: scale(1.05); /*altera o tamanho da imagem quando o mouse passa por cima*/
}

a.linkedin {
    width: 25px;
    height: 25px;
    background-image: url(./assets/icons/linkedin.svg);
    transition-duration: 0.20s; /*altera a duração da transição na entrada e saída do mouse*/
}

a.linkedin:hover{
    filter: invert(70%);
    transform: scale(1.05); /*altera o tamanho da imagem quando o mouse passa por cima*/
}

a.whatsapp {
    width: 25px;
    height: 25px;
    background-image: url(./assets/icons/whatsapp.svg);
    transition-duration: 0.20s; /*altera a duração da transição na entrada e saída do mouse*/
}

a.whatsapp:hover{
    filter: invert(70%);
    transform: scale(1.05); /*altera o tamanho da imagem quando o mouse passa por cima*/
}
