 /*work experiences/education/certifications*/

 main.colunas {
    display: flex; 
    gap: 0px;
    margin: 25px 10px 0px 0px;

}

/*coluna da timeline*/
section.timeline {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    margin: 41px 0px 0px -30px;
}

/*divisória da timeline*/
div.timeline_divider {
    width: 0px;
    border-left: 2px dotted #000;
    margin: 40px 40px 40px 43px;
}

/*data da timeline*/
p.timeline_data{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    transform: rotate(-90deg);
    white-space: nowrap;
}

/*coluna das experiencias*/
section.experiencias{
    min-width: 0px;
    width: 480px;
    margin: 0px 0px 0px -10px;
}

/*experiencia*/
div.experiencia{
    margin: 0px 0px 20px 0px;
}

 /*texto empresa*/
 h2.empresa {
    margin:0px 0px 0px 0px;
    padding:0;
    font-size: 22px;
    font-weight: 300;
    letter-spacing:2.3px;
    text-align: justify;
    text-transform: uppercase;
}

/*texto cargos*/
p.cargos{
    margin:10px 0px 5px 0px;
    padding: 0px;
    font-size: 12px;
    text-align: justify;
}

/*texto funçoes realizadas*/
ul.funcoes {
    list-style-type: none;
    padding: 0;
    margin: -5px 0px 10px 15px;
    text-align: justify;
}

/* formatação do texto aos itens da lista (li) */
ul.funcoes li {
    font-size: 13px;
    letter-spacing: 1.5px;
    text-align: justify;
}

a.download_icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: filter 0.20s, transform 0.20s;
    background-image: url(../assets/icons/download.svg);
    margin: 10px 0;
    display: flex;

}

a.download_icon:hover {
    filter: invert(70%);
    transform: scale(1.05);
}